div {
  display: flex;
}
div h1 {
  font-size: 22px;
  color: #AF9678;
  margin-bottom: 15px;
}
div h2 {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
div p {
  font-size: 16px;
  color: #AF9678;
  line-height: 1.5;
}