.card_without_p {
    padding: 0;
    margin:5px;
}

.main_first_part {
    width: 80%
}

body main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-flex {
    display: flex;
    width: 80%;
    justify-content: space-between;
}